<footer>
    <div class="footer-placeholder"> <p>&copy; 2025 Westgate Waste Management. All rights reserved.</p>
        <p>Address: Berbera, Somalia</p>
        <p>Phone: (+252) 63 662-4966| Email: info@westgate.com</p>
        <div class="social-links">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>